/*
Edit by liuhuan 2015-8-14 15:05:34
*/

/*头部*/
#header {
    width: 100%;
    text-align: center;
}

#header .navbar {
    margin-bottom: 0px;
    border-radius: 0px;
}

#header .navbar-brand {
    width: 250px;
}

#header-nav-list li{
    width:120px;
}

#header-search {
    width: 300px;
}
/*头部信息展示*/
#header-show {
    height: 220px;
    background-color: #242424;
}

#header-show div{
    float: left;
    height: 100%;
}

#header-show div img{
    width: 130px;
    height: 140px;
    margin-top: 30px;
}

#header-show div ul{
    color: #bababa;
    list-style-type: none;
    padding-top: 50px;
    padding-left: 0px;
}

#header-show div ul li{
    text-align: left;
    height: 30px;
}
