/*
Edit by liuhuan 2015-8-14 15:05:34
*/

#skills-list {
    padding-top: 10px;
    padding-bottom: 10px;
}

#skills-list .row .col-md-3 {
    min-height: 355px;
}

.skills-style{
    width: 280px;
}

.skills-style .panel-body{
    min-height: 250px;
}

.skills-style:hover {
    border-left: 5px outset #e8e8e8;
    border-top: 5px outset #e8e8e8;
}

